html {
  height: 100%;
  body {
    font-family: Helvetica, Arial, sans-serif;
    height: 100%;
  }
  #root {
    height: 100%;
  }

  %links {
    text-decoration: none;
    color: black;
    &:visited {
      color: inherit;
    }
  }
}
